# Variables de entorno para la base de datos
DB_NAME=nombre_bdd
DB_HOST=localhost
DB_PORT=puerto || 5432
DB_USERNAME=nombre_usario_bdd
DB_PASSWORD=contraseña_bdd


# Variables de entorno para Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=

# Variables de entorno para JWT
JWT_SECRET= ''

# Variables de entorno para Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=