# Variables de entorno para la base de datos
DB_NAME=lienzoCulinario
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=


# Variables de entorno para Cloudinary
AUTH0_DOMAIN=dev-o0214d7ljnyrdg3m.us.auth0.com
# AUTH0_DOMAIN=https://dev-o0214d7ljnyrdg3m.us.auth0.com/api/v2/
AUTH0_AUDIENCE=http://localhost:3001

# Variables de entorno para JWT
JWT_SECRET= ''

# Variables de entorno para Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=